* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Lebar maksimal form agar tidak terlalu melar */
  display: flex;
  flex-direction: column;
  align-items: center; /* Mengetengahkan isi di dalam container */
}
